<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form class="form-group" id="form" action="/compose" method="post">
        <div class="form-group">
          <label>Title</label>
          <textarea type="text" class="form-control" name="title" rows="1" cols="80"></textarea>
          <label>Post</label>
          <textarea type="text" class="form-control" name="postBody" rows="5" cols="80"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Publish</button>
    </form>
<%- include("partials/footer") -%>
